In [2]:
import seaborn as sns
import pandas as pd
import numpy as np

import fundamental libraries

In [3]:
df = sns.load_dataset("tips")

creates dataset

In [4]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

shows the first few rows of the dataset

In [5]:
sex = df.groupby("sex")

takes the colummn sex and groups it in male and female

In [6]:
sex.mean()

        total_bill       tip      size
sex
Male     20.744076  3.089618  2.630573
Female   18.056897  2.833448  2.459770

shows the mean tip each gender had paid

In [7]:
sex

shows the type of object variable sex is

In [8]:
sex["tip"].mean()

sex
Male      3.089618
Female    2.833448
Name: tip, dtype: float64

shows the average tip a male and female give

In [9]:
smoker = df.groupby("smoker")

groups smokers and non smokers

In [10]:
smoker.mean()

        total_bill       tip      size
smoker
Yes      20.756344  3.008710  2.408602
No       19.188278  2.991854  2.668874

shows smokers total bill was higher tip also higher and smaller sizes

In [11]:
time = df.groupby("time")

groups the customers by the time they ate e.g., morning, afternoon, evening

In [12]:
time.mean()

        total_bill       tip      size
time
Lunch    17.168676  2.728088  2.411765
Dinner   20.797159  3.102670  2.630682

people tend to pay more during dinnner time and come in also larger groups

In [13]:
day = df.groupby("day")

groups customers on what day they ate

In [14]:
day.mean()

      total_bill       tip      size
day
Thur   17.682742  2.771452  2.451613
Fri    17.151579  2.734737  2.105263
Sat    20.441379  2.993103  2.517241
Sun    21.410000  3.255132  2.842105

most people pay the highest amound of tip and total bill on sunday

Average tip given by male and female on each indivisual day

In [15]:
df.groupby(["sex","day"])["tip"].mean()

sex     day
Male    Thur    2.980333
        Fri     2.693000
        Sat     3.083898
        Sun     3.220345
Female  Thur    2.575625
        Fri     2.781111
        Sat     2.801786
        Sun     3.367222
Name: tip, dtype: float64

groups the customers into male and female and then groups them again into what day they ate. sunday had the largest amount of tip for males and females

In [16]:
df.groupby(["smoker","sex"])["total_bill"].mean()

smoker  sex
Yes     Male      22.284500
        Female    17.977879
No      Male      19.791237
        Female    18.105185
Name: total_bill, dtype: float64

groups them into smokers and non smokers then into male and female showin how male smokers pay the largest amount of tip

In [17]:
df.groupby(["smoker","sex"])["size"].mean()

smoker  sex
Yes     Male      2.500000
        Female    2.242424
No      Male      2.711340
        Female    2.592593
Name: size, dtype: float64

groups the customers by if they smoke and their gender however it now checks which group comes with more people. non smoker males

In [18]:
df.groupby(["sex","time"])["tip"].mean()

sex     time
Male    Lunch     2.882121
        Dinner    3.144839
Female  Lunch     2.582857
        Dinner    3.002115
Name: tip, dtype: float64

groups the customers by ender and the time they ate males paid the most tip at dinner time

In [22]:
mean_tip = df.groupby(["sex","time","day"])["tip"].mean()

groups the customers by their gender then the time they ate and by what day they are

In [23]:
mean_tip.to_csv("mean_tip.csv")

makes mean_tip into its own indivisual csv file

In [24]:
mean_tip

sex     time    day
Male    Lunch   Thur    2.980333
                Fri     1.900000
                Sat          NaN
                Sun          NaN
        Dinner  Thur         NaN
                Fri     3.032857
                Sat     3.083898
                Sun     3.220345
Female  Lunch   Thur    2.561935
                Fri     2.745000
                Sat          NaN
                Sun          NaN
        Dinner  Thur    3.000000
                Fri     2.810000
                Sat     2.801786
                Sun     3.367222
Name: tip, dtype: float64

shows female dinner on a sunday has the most incoming tip